// vars
$text-color:#fff;
$bg-color: #171919;
$main-color:#4AF6CD;
$modal-bg: rgba(0, 0, 0, .5);
$overlay-bg: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.43) 0%, #0f0f0f 100%);
$weather-bg: rgba(15, 16, 16, 0.7);

$font-family: 'Fira-Sans', sans-serif;