.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  box-shadow: 0 0 20px 10px $bg-color,
    inset -200px 300px 30px 10px $bg-color,
    inset 0 -100px 300px 10px $bg-color,
    inset -380px 350px 110px 20px $bg-color,
    inset 0 -350px 120px 20px $bg-color;

}