/* Header styles */

.header {
  position: relative;
  width: 100%;
  height: 100dvh;
  //  min-height: 1024px;

  &__slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 100dvh;
    // min-height: 1024px;
    background-color: $bg-color;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $overlay-bg;
      z-index: 0;
    }
  }
  // .swiper {
  //   .swiper-slide {
  //     &-active {
  //       .header__slide {
  //         background-color: $bg-color;
  //         background-size: 100%;
  //         transition: all 0.7s;
  //       }
  //     }
  //   }
  // }

  &__slide-map {
    position: absolute;
    width: clamp(400px, 5.4103rem + 97.9487vw, 1164px);
    height: clamp(432px, 5.5897rem + 107.0513vw, 1267px);
    top: min(max(0px, 280px), 768px);
    right: min(max(0px, 55px), 130px);
    transform: translate(15.5%, -83%);
    z-index: 1;
  }

  &__slide-content {
    position: absolute;
    right: 77px;
    bottom: 87px;
    text-align: right;
    max-width: 520px;
    z-index: 1;
  }

  &__slide-subtitle {
    margin-bottom: 10px;
    font-size: clamp(16px, 0.8235rem + 0.8824vw, 22px);
  }

  &__slide-title {
    font-weight: 800;
    font-size: clamp(35px, 1.2691rem + 4.5918vw, 80px);
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 27px;
  }

  &__slide-subtext {
    margin-bottom: 35px;
  }

  &__slide-text {
    font-size: clamp(24px, 1.1735rem + 1.6327vw, 40px);
    margin-bottom: 20px;
  }

  &__slide-link {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 21px;
    z-index: 2;

    &:hover .header__slide-content-arrow {
      fill: $main-color;
      transition: all 0.3s;
    }
  }

  &__slide-content-arrow {
    width: 24px;
    height: 20px;
    fill: $text-color;
  }

  &__slider-control {
    position: absolute;
    top: 38px;
    right: 77px;
    z-index: 100;
    width: 78px;
    height: 30px;
    @include flex-mix(space-between, center, row);
  }

  &__slider-prev {
    width: 29px;
    height: 30px;
    position: relative;
    z-index: 100;

    &:hover .slider-arrow {
      fill: $main-color;
      transition: all 0.3s;
    }
  }

  &__slider-next {
    width: 29px;
    height: 30px;
    position: relative;
    z-index: 100;

    &:hover .slider-arrow {
      fill: $main-color;
      transition: all 0.3s;
    }
  }

  .swiper-pagination {
    position: absolute;
    left: auto;
    right: 82px;
    bottom: 22px;
    width: 100%;
    max-width: 920px;
    height: 44px;
    @include flex-mix(flex-end, center, row, 40);
  }

  .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      position: relative;
      margin: 0;
      width: 100%;
      max-width: 200px;
      height: 44px;
      border-top: 5px solid $text-color;
      opacity: 1;
      border-radius: 0;
      background-color: transparent;
      @include flex-mix(space-between, center, row);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -5px;
        width: 0;
        height: 5px;
        background-color: $main-color;
        transition: all 0.3s;
      }

      &-active {
        border-top: 5px solid transparent;
        transition: all 1s;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: -5px;
          width: 100%;
          height: 5px;
          background-color: $main-color;
          transition: all 1s;
        }
      }
    }
  }

  &__pagination-number {
    font-size: clamp(16px, 0.7647rem + 1.1765vw, 24px);
    line-height: 1.41667;
  }

  &__pagination-shore {
    font-weight: 300;
    font-size: clamp(12px, 0.6324rem + 0.5882vw, 16px);
    line-height: 1.1875;
    text-transform: capitalize;
  }

  &__title {
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 2;
    span {
      display: block;
      font-weight: 800;
      font-size: clamp(100px, 3.3088rem + 14.7059vw, 200px);
      line-height: 0.78;
      color: rgba($text-color, 0.07);
    }
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 164px;
    border-right: 1px solid rgba($text-color, 0.25);
    z-index: 2;
    @include flex-mix(space-between, center, column);
  }

  &__aside-inner {
    width: 100%;
  }

  &__logo {
    display: block;
    width: 100%;
    height: 258px;
    text-align: center;
    padding-top: 22px;
    margin-bottom: 90px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 181px;
      background-color: $main-color;
      z-index: 0;
    }

    &-svg {
      position: relative;
      width: 86px;
      height: 258px;
      fill: $text-color;
    }
  }

  &__search {
    width: 100%;
    height: 73px;
    margin-bottom: 7px;
    background-color: transparent;

    &:hover {
      background-color: $main-color;
      transition: all 0.3s;
    }
  }

  &__search-svg {
    width: 31px;
    height: 31px;
    fill: $text-color;
  }

  &__date-outer {
    margin-bottom: 40px;
  }

  &__date-outer-clone {
    display: none;
  }

  &__date {
    margin-bottom: 25px;
    @include flex-mix(space-between, center, column);
  }

  &__date-day {
    font-size: 72px;
    line-height: 0.88889;
  }

  &__date-month {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.09em;
    text-transform: lowercase;
  }

  &__date-devide {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.1875;
    text-transform: lowercase;
  }

  &__date-year {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.09em;
    text-transform: lowercase;
  }

  &__place {
    width: 100%;
    // margin-bottom: 40px;
    @include flex-mix(center, center, row, 9);
  }

  &__place-name {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 1.05px;
    text-transform: capitalize;
  }

  &__marker-svg {
    width: 11px;
    height: 13px;
    // stroke: $text-color;
    fill: $text-color;
  }

  &__scroll-arrow {
    display: inline-block;
    position: absolute;
    bottom: 41px;
    left: 205px;
    padding: 10px;
    z-index: 2;

    animation-name: moving;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.48, 0.62, 0.58, 1);
    animation-iteration-count: infinite;
  }

  &__scroll-svg {
    width: 22px;
    height: 24px;
  }

  .slider-arrow {
    width: 24px;
    height: 20px;
    fill: $text-color;
  }
  .map-north {
    opacity: 0;
    transition: all 2s;
  }

  .map-south {
  }

  .map-west {
  }

  .map-east {
  }

  .map-visible {
    opacity: 1;
    transition: all 1s;
    transition-delay: 1s;
  }

  .road {
    animation-name: road-start;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    stroke: $text-color;
    transition: all 1s linear;
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    &-active {
    }
  }
}
.road-north {
}
.road-south {
}
.road-west {
}
.road-east {
}

@keyframes road-start {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes moving {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1300px) {
  .header {
    .swiper-pagination {
      max-width: 650px;
      gap: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    //   height: 870px;
    height: 100dvh;
    // min-height: 100vh;
    min-height: 700px;

    &__slide {
      //  height: 870px;
      height: 100dvh;
      // min-height: 100vh;
      min-height: 700px;
    }

    &__slide-map {
      transform: translate(16%, -84%);
    }

    &__slide-title {
      margin-bottom: 17px;
    }
    &__slide-subtitle {
      margin-bottom: 5px;
    }
    &__slide-text {
      margin-bottom: 10px;
    }
    .swiper-pagination {
      max-width: 550px;
      gap: 20px;
    }

    &__aside {
      max-width: 110px;
    }

    &__logo {
      height: 212px;
      padding-top: 0;
      margin-bottom: 48px;

      &::before {
        content: "";
        height: 124px;
      }
    }

    &__logo-svg {
      width: 60px;
      height: 202px;
    }

    &__scroll-arrow {
      left: 140px;
    }
  }
}

@media (max-width: 850px) {
  .header {
    &__scroll-arrow {
      display: none;
    }

    .swiper-pagination {
      max-width: 410px;
      gap: 15px;
    }

    .swiper-pagination-bullets .swiper-pagination-bullet {
      justify-content: flex-end;
    }

    &__pagination-number {
      display: none;
    }

    &__slide-map {
      transform: translate(17%, -86%);
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__slide-map {
      transform: translate(18%, -87%);
    }
  }
}

@media (max-width: 650px) {
  .header {
    &__slide-content {
      right: 30px;
    }
    &__aside {
      max-width: 110px;
      border-right: none;
    }

    &__search {
    }

    &__logo {
      margin-bottom: 12px;
    }

    &__date-day {
      font-size: 62px;
    }

    .swiper-pagination {
      max-width: 220px;
      right: 30px;
      gap: 15px;
    }

    &__slide-map {
      transform: translate(20%, -93%);
    }

    &__slider-control {
      top: 25px;
      right: 35px;
    }
  }
}

@media (max-width: 520px) {
  .header {
    &__slide-map {
      transform: translate(21%, -95%);
    }
  }
}

@media (max-width: 480px) {
  .header {
    &__slide-content {
      margin-bottom: 100px;
    }
    &__aside {
      max-width: 85px;
      // justify-content: start;
      // height: 67%;
    }

    &__logo {
      height: 170px;

      &::before {
        content: "";
        height: 100px;
      }
    }

    &__logo-svg {
      width: 50px;
      height: 165px;
    }

    &__date-outer {
      display: none;
    }

    &__date-outer-clone {
      display: block;
      position: absolute;
      right: 30px;
      bottom: 70px;
      margin-bottom: 0;
      z-index: 2;
    }

    &__date {
      margin-bottom: 5px;
    }

    &__date-day {
      font-size: 42px;
    }

    &__date-month {
      font-size: 14px;
    }

    &__date-devide {
      font-size: 14px;
    }

    &__date-year {
      font-size: 14px;
    }

    &__place {
      width: 100%;
      margin-bottom: 0;
      @include flex-mix(center, center, row, 5);
    }

    &__place-name {
      font-size: 10px;
    }

    .swiper-pagination {
      bottom: 10px;
    }

    &__slide-map {
      transform: translate(25%, -100%);
    }
  }
}

@media (max-width: 390px) {
  .header {
    &__aside {
      translate: 0 -100% 0;
      backdrop-filter: blur(3px);
      transition: translate 0.5s;
    }

    &__slide-map {
      transform: translate(27%, -105%);
    }

    &__title {
      span:nth-child(1) {
        max-width: 200px;
      }
    }
  }
  .un-translate {
    translate: 0 0 0;
  }
}
