.surf {
  width: 100%;
  padding-top: clamp(20px, -1.8393rem + 15.4464vw, 193px);
  padding-bottom: clamp(40px, 0.7143rem + 8.9286vw, 140px);

  .title {
    margin-bottom: clamp(43px, 3.0982rem + -2.0536vw, 20px);
  }

  &__subtitles-box {
    position: absolute;
    top: -62px;
    top: clamp(-47px, -2.6696rem + -1.3393vw, -62px);
    right: 5.4%;
    max-width: 415px;
    text-align: right;
  }

  &__slide-subtitle {
    translate: 5px 0 0;
  }

  &__slider-title {
    text-align: right;
  }

  &__slider-devider {
    font-weight: 300;
    color: rgba($text-color, 0.5);
  }

  &__map {
    position: relative;
    width: 100%;
    aspect-ratio: 1.94 / 1;
  }

  &__map-svg-box {
    position: relative;
    width: 100%;
    // max-width: 1233px;
    // aspect-ratio: 1.94 / 1;
    padding: 0 102px 56px 45px;
  }

  &__map-svg-track {
    position: relative;
    width: 100%;
    max-width: 1233px;
  }

  &__map-svg {
    width: 100%;
    max-width: 1233px;
    aspect-ratio: 1.94 / 1;
  }

  &__map-dot {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
  }

  &__map-dot-active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-left: 24px solid transparent;
      border-right: 24px solid transparent;
      border-bottom: 48px solid #4af6cd;
    }
  }
  &__map-dot-svg {
  }

  &__map-coordinates {
    position: absolute;
    right: 5.2%;
    top: 172px;
    font-weight: 400;
    font-size: clamp(12px, 0.6429rem + 0.5357vw, 18px);
    line-height: 1.22222;
    letter-spacing: clamp(1px, -0.075rem + 0.6875vw, 8.7px);
    text-align: right;
    color: rgba($text-color, 0.5);
    writing-mode: vertical-lr;
    rotate: 180deg;
  }

  &__slider-control {
    top: 0;
    right: 77px;
  }

  &__slider {
    width: 100%;
    height: 890px;
    height: clamp(600px, 30.0641rem + 37.1795vw, 890px);
    padding-top: 53px;
    border: 1px solid red;
    .swiper-wrapper {
      //min-width: 100%;
      // aspect-ratio: 1.87 / 1

      .swiper-slide {
        position: relative;
        width: 100% !important;
        // max-width: 400px;
        max-width: clamp(260px, 13.0682rem + 15.9091vw, 400px);
        aspect-ratio: 1 / 1.87;
        flex-shrink: 1;
        // max-height: 750px;
        transition: all 0.5s;

        &-active {
          margin-right: -20px;
          // z-index: 2;
          transition: all 0.7s;

          .surf__card {
            background-size: 100%;
            transition: all 0.7s;
          }

          .surf__card::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            z-index: -1;
            transition: all 0.7s;
          }

          .surf__card-subtitle-text {
            text-shadow: 2px -2px 2px $bg-color;
          }

          .surf__card-link {
            translate: 0 0 0;
            opacity: 1;
            transition: all 0.7s;
          }
        }

        &-prev {
          margin-top: 32px;
          margin-right: -20px;
        }
        &-next {
          margin-right: -20px;
          margin-top: 89px;
        }
      }
    }
  }

  &__slider-track {
    //  min-width: 100%;
    //  aspect-ratio: 1.9 / 1;
    //border: 1px solid green;
  }

  &__card {
    position: relative;
    width: 100%;
    max-width: 400px;
    max-width: clamp(260px, 13.0682rem + 15.9091vw, 400px);
    aspect-ratio: 1 / 1.87;
    background-size: 200%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-y: hidden;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(28, 33, 33, 0.85);
      z-index: 1;
    }
  }

  &__card-title {
    position: absolute;
    //  top: 72px;
    top: clamp(45px, 2.1989rem + 3.0682vw, 72px);
    // left: 40px;
    left: clamp(30px, 1.6477rem + 1.1364vw, 40px);
    z-index: 2;
  }

  &__card-title-text {
    display: block;
    font-weight: 800;
    // font-size: 40px;
    font-size: clamp(25px, 1.2216rem + 1.7045vw, 40px);
    line-height: 0.9;
  }

  &__card-subtitle {
    position: absolute;
    // left: 38px;
    left: clamp(20px, 0.8409rem + 2.0455vw, 38px);
    bottom: 80px;
    writing-mode: vertical-rl;
    rotate: 180deg;
    z-index: 2;
  }

  &__card-subtitle-text {
    font-weight: 400;
    // font-size: 18px;
    font-size: clamp(14px, 0.7841rem + 0.4545vw, 18px);
    line-height: 1.22222;
    letter-spacing: clamp(2px, 0rem + 0.625vw, 7.5px);
  }

  &__card-subtitle-devider {
    color: rgba($text-color, 0.3);
    margin: 15px 0;
  }

  &__card-link {
    bottom: 0;
    // left: 45px;
    left: clamp(25px, 1.108rem + 2.2727vw, 45px);
    translate: -200px 0 0;
    opacity: 0;
    transition: all 0.5s;
  }
}

.swiper {
}

.map {
}
.dot1 {
}
.dot2 {
}
.dot3 {
}
.dot4 {
}
.dot5 {
}
.dot6 {
}
.dot7 {
}
.dot8 {
}
.dot9 {
}

@media (min-width: 1441px) {
  .surf {
    &__map {
      // padding: 0 76px 56px 76px;
    }

    &__map-svg-box {
      max-width: 100%;
      padding: 0 76px 56px 76px;
    }

    &__map-svg-track {
      max-width: 100%;
      width: 100%;
    }

    &__map-svg {
      max-width: 100%;
    }

    &__map-coordinates {
      position: absolute;
      right: 3%;
      top: 50%;
      translate: 0 -50% 0;
    }

    &__slider {
      height: 990px;

      .swiper-wrapper {
        //min-width: 100%;
        // aspect-ratio: 1.87 / 1

        .swiper-slide {
          max-width: 450px;
        }
      }
    }
    &__card {
      max-width: 450px;
    }
  }
}

@media (max-width: 1439px) {
  .surf {
    &__map {
      // padding: 0 76px 56px 76px;
    }

    &__map-svg-box {
      max-width: 100%;
      padding: 0 76px 56px 76px;
    }

    &__map-svg-track {
      max-width: 100%;
    }

    &__map-svg {
      max-width: 100%;
    }

    &__map-coordinates {
      position: absolute;
      right: 3%;
      top: 0;
      height: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 1024px) {
  .surf {
    &__map {
      // padding: 0 56px 56px 56px;
    }

    &__map-svg-box {
      padding: 0 56px 56px 56px;
    }

    &__map-coordinates {
      right: 2%;
      // font-size: 16px;
      // letter-spacing: 7px;
    }
  }
}

@media (max-width: 900px) {
  .surf {
    &__map {
      // padding: 0 36px 36px 36px;
    }

    &__map-svg-box {
      padding: 0 26px 0px 26px;
    }

    &__map-coordinates {
      right: 1.5%;
    }

    &__slider {
      .swiper-wrapper {
        .swiper-slide {
          &-active {
            margin-right: -15px;
          }

          &-prev {
            margin-top: 32px;
            margin-right: -15px;
          }
          &-next {
            margin-right: -15px;
            margin-top: 45px;
          }
        }
      }
    }
    &__slider-control {
      top: 15px;
      right: 40px;
    }
    &__card-subtitle-devider {
      margin: 8px 0;
    }
  }
}

@media (max-width: 768px) {
  .surf {
    &__map {
      // padding: 0 26px 26px 26px;
    }

    &__map-svg-box {
      padding: 0 26px 0px 26px;
      height: 415px;
      overflow-x: scroll;
      aspect-ratio: 1.94 / 1;

      // margin: 0 auto;
      &::-webkit-scrollbar {
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: $main-color;
        border-radius: 1px;
      }
    }

    &__map-svg-track {
      min-width: 716px;
      aspect-ratio: 1.94 / 1;
    }

    &__map-svg {
      min-width: 716px;
    }

    &__map-coordinates {
      top: auto;
      right: 10px;
      bottom: 15px;
      height: auto;
      writing-mode: horizontal-tb;
      rotate: 0deg;
    }
  }
}
@media (max-width: 600px) {
  .surf {
    &__map {
      // padding: 0 10px 16px 10px;
    }

    &__map-svg-box {
      padding: 0 10px 16px 10px;
    }

    &__map-coordinates {
      right: 1%;
    }
  }
}

@media (max-width: 480px) {
  .surf {
    &__map {
      // padding: 0 5px 16px 5px;
    }

    &__map-svg-box {
      padding: 0 5px 16px 5px;
    }

    &__map-coordinates {
      right: 1%;
    }

    &__map-coordinates {
      top: auto;
      right: 10px;
      bottom: 10px;
      height: auto;
      writing-mode: horizontal-tb;
      rotate: 0deg;
    }
  }
}
