

.travel {
  width: 100%;
  border:1px solid red;
  padding-top: clamp(40px, 0.7143rem + 8.9286vw, 140px);
  padding-bottom: clamp(40px, -0.5769rem + 15.3846vw, 160px);
  background-color: $bg-color;
  &__title {
    margin-bottom: 30px;
  }
  &__slider {
    position: relative;
    width: 100%;
    border:1px solid rgb(12, 48, 207);
  }

  &__slider-control {
    position: absolute;
    top: 190px;
    right: 90px;
  }

  &__slider-track {
  }

  &__slider-slide {
    background-color: $bg-color;
  }

  &__slider-title-box {
    position: absolute;
    top: 76px;
    right: 90px;
    text-align: right;
    z-index: 2;
  }

  &__slide-subtitle {
  }

  &__slider-title {
    @include flex-mix(space-between,center,row);
    border:1px solid red;

  }

  &__slider-airline-box {
    position: absolute;
    left: 128px;
    bottom: 34px;
    z-index: 2;
  }

  &__slider-airline-img {
    margin-left: 26px;
  }

  &__slider-bg-box {
    position: relative;
    width: 100%;
    max-width: 1115px;
    aspect-ratio: 1.42 / 1;
    background-color: $bg-color;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      box-shadow: inset -50px 50px 30px 10px rgba(23,25,25,1),
      inset 0 -50px 30px 10px rgba(23,25,25,1),
      inset -180px 150px 110px 20px rgba(23,25,25,1),
       inset 0 -150px 120px 20px rgba(23,25,25,1);
    }
  }

  &__slider-bg {
    width: 100%;
    // height: 100%;
    object-fit: cover;
    scale: 130%;
    transition: scale .7s;
  }

  &__slider-airplane-box {
    position: absolute;
    bottom: -68px;
    right: -50px;
    width: 100%;
    max-width: 750px;
    aspect-ratio: 3 / 1;
    z-index: 2;
    // translate: 100% 50% 0;
    opacity: 0;
    transition: opacity .3s; 
    
  }

  &__slider-airplane {
    width: 100%;
    // height: 100%;
  }
}
.title {
}
.swiper {
}
.slider-control {

  &__slider-next {
  }

  &__arrow-svg {
  }

  &__slider-prev {
  }
}
.swiper-wrapper {
}
.swiper-slide {
  &-active {
    .travel__slider-bg {
      width: 100%;
      height: 100%;
      scale: 100%;
      transition: scale .7s;
    }

    .travel__slider-airplane-box {
      // translate: 0 0 0;
      opacity: 1;
      transition: all .7s;
      transition-delay: .3s; 
      
    }
  }
}
.headline-left {
}

.headline-right {
}
