/* global styles*/

body{
  font-family: 'Fira-Sans', ;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
  color: $text-color;
  background-color: $bg-color;
}

