/* global styles*/

body{
  font-family: $font-family;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: $text-color;
  background-color: $bg-color;
  overflow-x: hidden;
}

.title {
  // margin-left: -50px;
  margin-left: -4.034%;
  // border: 1px solid red;
  h2 {
    display: inline-block;
    position: relative;
    font-weight: 800;
    font-size: clamp(75px, 1.4824rem + 16.0256vw, 200px);
    line-height: 0.78;
    color: rgba($text-color, 0.02);
     
    span {
      display: inline-block;
      position: absolute;
      top: -20px;
      // right: -14px;
      top: -11%;
      right: -3%;
      font-weight: 800;
      font-size: clamp(30px, 0.5929rem + 6.4103vw, 80px);
      color:$text-color;

      &::after {
        content: '';
        position: absolute;
        top: -24%;
        right: 0;
        width: 42%;
        height: 1px;
        background-color: $main-color;
      }
    }
  }
}

.slider-title {

  &__text {
    font-weight: 800;
    font-size: clamp(16px, 0.5714rem + 2.1429vw, 40px);
    line-height: 1.5;
    letter-spacing: .8px;
  }

  &__devider {
    font-weight: 300;
    color: rgba($text-color, 0.5);
    font-size: clamp(16px, 0.5714rem + 2.1429vw, 40px);
  }
}

.headline-left {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: clamp(12px, 0.5714rem + 0.8929vw, 22px);
  line-height: 1.7;
  letter-spacing: clamp(2px, 0.0298rem + 0.4759vw, 7.33px);
  text-transform: uppercase;
  color: rgba($text-color, .5);

  &::before {
    content: '';
    position: absolute;
    left: -103px;
    top: 50%;
    // width: 80px;
    width: clamp(50px, 2.2426rem + 4.4118vw, 80px);
    height: 1px;
    background-color: rgba($text-color, .5);
  }
}

.headline-right {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: clamp(12px, 0.5714rem + 0.8929vw, 22px);
  line-height: 1.7;
  letter-spacing: clamp(2px, 0.0298rem + 0.4759vw, 7.33px);
  text-transform: uppercase;
  color: rgba($text-color, .5);

  &::after {
    content: '';
    position: absolute;
    right: -103px;
    top: 50%;
    width: clamp(50px, 2.2426rem + 4.4118vw, 80px);
    height: 1px;
    background-color: rgba($text-color, .5);
  }
}




.no-scroll {
  overflow: hidden;
}

@media (min-width:1440px) {
  .title {
    margin-left: -50px;
  }
}

@media (max-width:1000px) {
  .headline-left {
  
    &::before {
      content: '';
      left: -83px;
    }
  }
  .headline-right {
  
    &::after {
      content: '';
      right: -83px;
    }
  }
}

@media (max-width:768px) {
  .headline-left {
  
    &::before {
      content: '';
      left: -73px;
    }
  }
  .headline-right {
  
    &::after {
      content: '';
      right: -73px;
    }
  }
}

@media (max-width:480px) {
  .headline-left {
  
    &::before {
      content: '';
      left: -63px;
    }
  }
  .headline-right {
  
    &::after {
      content: '';
      right: -63px;
    }
  }
}
@media (max-width:390px) {
 
}